@import "bulma";
$border: 1px solid black;
$background: #007ACC;
body {
  font-size: 62.5%;
}

.path {
  width: 506px;
  height: 506px;
  border: 3px solid black;
  margin: 25px auto;
  position: relative;

  .pathUp {
    cursor: crosshair;
    position: absolute;
    border: $border;
    width: 100px;
    height: 25px;
    top: 0;
    right: 200px;
    background: $background;
  }
  .pathRight {
    cursor: crosshair;
    position: absolute;
    border: $border;
    width: 25px;
    height: 100px;
    right: 0;
    bottom: 200px;
    background: $background;
    
  }
  .pathDown {
    cursor: crosshair;
    position: absolute;
    border: $border;
    width: 100px;
    height: 25px;
    bottom: 0;
    right: 200px;
    background: $background;
  }
  .pathLeft {
    cursor: crosshair;
    position: absolute;
    border: $border;
    width: 25px;
    height: 100px;
    left: 0;
    bottom: 200px;
    background: $background;
  }    
  .roomNumber {
    position: absolute;
    width: 50px;
    height: 50px;
    border: $border;
    top: 220px;
    left: 230px;
  }
}
.roomNumber {
  font-size: 4.0em;
}

.pathway {
  margin: 0 auto;
  font-size: 3.0em;
}

.room1 {
  background: #FDBD41;
}
.room2 {
  background: red;
}
.room3 {
  background: #ADB;
}
.room4 {
  background: #FDF;
}
.room5 {
  background: #FAF;
}
.room6 {
  background: green;
}
.room7 {
  background: yellow;
}
.room8 {
  background: purple;
}
.room9 {
  background: blanchedalmond;
}
.room0 {
  background-image: url(https://www.dropbox.com/s/x77sb1fguzkbuqt/gameOver.jpeg?dl=0);
}
.room10 {
  background: aqua;
}